a {
    text-decoration: none;
    color: white;
}

.header__content {
    background: url('../img/concert.png') no-repeat 50%/cover;
    width: 100%;
    height: 800px;
    margin-bottom: 156px;
}

.section_indent {
    margin: 0 auto;
    margin-bottom: 150px;
}

.header__navigation {

    background: rgba(0, 91, 193, 0.6);
}

.navigation {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1130px;
    margin-left: 40px;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu__item-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.menu__item:nth-child(5) {
    padding-right: 0px;
}

.menu__item {
    padding-right: 26px;
}

/* Style for header__restangle */
.header__restangle {
    position: relative;
    width: 444px;
    height: 720px;
    left: 405px;
    top: 0px;
    background: rgba(0, 91, 193, 0.6);
    display: flex;
}

.header__subrestangle {
    display: flex;
    margin-left: 190px;
    justify-content: center;
    flex-direction: column;

}

.header__title {
    /* h1 */
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 600px;
    height: 142px;
    margin-left: 0;
}

.header__subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 40px;
    width: 445px;
    height: 44px;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 51px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;

}

.header__button:hover {
    background-color: white;
    transition: 1s;
}

.header__button-link:hover {
    color: rgba(0, 91, 193, 0.6);
}

/* ------------------ourproject style------------------- */
.our-project {
    position: relative;
    max-width: 1110px;
    height: 520px;
}

.title,
.our-project__title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* black */
    color: #343434;
    padding-bottom: 70px;
    padding-left: 140px;
    padding-top: 6px;
}

.our-project__title::before {
    content: "";
    /* создаём инлайн объект */
    display: block;
    /* преобразуем его в блочный */
    position: absolute;
    /* включаем асболютное позиционирование */
    top: 21px;
    /*отступ будет 0 пикселей от верхней точки блока */
    width: 100px;
    /* блок займёт по ширине 10% ширины родительского */
    height: 3px;
    /* высота самого блока */
    background: #005BC1;
    /* задаём нужный цвет фоном */
    left: 0;

}

.our-project__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 34px;
    width: 50px;
    left: 50px;
    height: 3px;
    background: #005BC1;
}

.our-project__content {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.our-project__slide {
    position: relative;
}

.our-project__slide:first-child {
    margin-right: 30px;
}

.our-project__img {
    max-width: 540px;
    max-height: 400px;
}

.our-project__signature {
    position: absolute;
    width: 250px;
    height: 110px;
    left: 255px;
    top: 255px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;

}

.our-project__signature-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 14px;

}

.our-project__signature-subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-left: 25px;
    margin-right: 25px;
}

/* --------------------------Product-catalog style--------------- */
.product-catalog {
    width: 1100px;
    height: 505px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title {
    padding-top: 0;
}

.title::before {
    content: "";
    /* создаём инлайн объект */
    display: block;
    /* преобразуем его в блочный */
    position: absolute;
    /* включаем асболютное позиционирование */
    top: 15px;
    /*отступ будет 0 пикселей от верхней точки блока */
    width: 100px;
    /* блок займёт по ширине 10% ширины родительского */
    height: 3px;
    /* высота самого блока */
    background: #005BC1;
    /* задаём нужный цвет фоном */
    left: 0;

}

.title::after {
    content: "";
    display: block;
    position: absolute;
    top: 28px;
    width: 50px;
    left: 50px;
    height: 3px;
    background: #005BC1;
}

.product-catalog__subtitle {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 55px;
}

.product-catalog__item_active {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #005BC1;
    width: 52px;
    height: 36px;

}

.product-catalog__item_active::before {
    content: "";
    /* создаём инлайн объект */
    display: block;
    /* преобразуем его в блочный */
    position: absolute;
    /* включаем асболютное позиционирование */
    top: 41px;
    /*отступ будет 0 пикселей от верхней точки блока */
    width: 53px;
    /* блок займёт по ширине 10% ширины родительского */
    height: 2px;
    /* высота самого блока */
    background: #005BC1;
    /* задаём нужный цвет фоном */
    left: 438px;

}

.product-catalog__item {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* black */
    color: #343434;
    width: 111px;
    height: 36px;
}

.product-catalog__img {
    width: 344px;
    height: 294px;
}

.product-catalog__column {
    border: 3px solid #005BC1;
    position: relative;
    width: 344px;
    height: 294px;
    margin-right: 27px;
}

.product-catalog__column:last-child {
    margin-right: 0;
}

.product-catalog__row {
    display: flex;
    flex-direction: row;
}

.product-catalog__signature {
    position: absolute;
    width: 259px;
    height: 86px;
    left: 85px;
    top: 199px;
    background: #005BC1;
    display: flex;
    align-items: center;
}

.product-catalog__signature-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 21px;
    width: 208px;

}

/* -------------------Equipment rent------------------------ */
.equipment-rent {
    width: 1100px;
    height: 478px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.equipment-rent__title {
    padding-top: 0;
    padding-bottom: 40px;
}

.equipment-rent__content {
    display: flex;
}

.equipment-rent__container {
    display: flex;
    align-items: center;
}

.equipment-rent__text {
    width: 350px;
    height: 175px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* black */
    color: #343434;
    padding-right: 95px;
}

.equipment-rent__slide {
    border: 3px solid #005BC1;
    position: relative;
    width: 659px;
    height: 388px;
}

.equipment-rent__slide-title {
    width: 441px;
    height: 27px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* black */
    color: #343434;
    margin-top: 42px;
    margin-left: 30px;
    margin-bottom: 45px;
}

.equipment-rent__slide-content {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.equipment-rent__slide-img {
    width: 255px;
    height: 250px;
    margin-right: 30px;
}

.equipment-rent__slide-subtitle-link {
    width: 172px;
    height: 24px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.equipment-rent__item {
    width: 310px;
    height: 152px;
    padding-inline-start: 16px;
}

.equipment-rent__item-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-bottom: 19px;
}

.equipment-rent__item-link:nth-child(4) {
    margin-bottom: 0;
}

/* ----------------------------NEWS STYLE------------------- */
.news {
    width: 1100px;
    height: 363px;
    position: relative;
}

.news__title {
    padding-bottom: 77px;
}

.news__header {
    display: flex;
    justify-content: space-between;
}

.news__btn {
    width: 190px;
    height: 51px;
    background: #005BC1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* white */
    color: #FFFFFF;
}

.news__item {
    display: flex;
    margin-right: 60px;
}

.news__content {
    max-width: 1100px;
    display: flex;
    max-height: 242px;

}

.news__item:last-child {
    margin-right: 0;
}

.news__item-img {
    width: 128px;
    height: 115px;
}

.news__item-img_big {
    width: 255px;
    height: 242px;
    padding-right: 30px;
    margin-bottom: 0;
}

.news__item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.news__item_big {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;

}

.news__item-title {
    width: 225px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* black */
    color: #343434;
    height: 49px;
    margin-bottom: 20px;
}

.news__item-title p {
    margin: 0;
}

.news__item-title_other {
    height: 27px;
    margin-bottom: 42px;
}



.news__item-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    width: 227px;
    height: 38px;
    margin-bottom: 20px;
}

.news__item-content {
    position: relative;
}

.news__item-text_other {
    width: 255px;
    height: 133px;
    margin-bottom: 21px;
}

.news__item-date {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    color: #979797;
    width: 72px;
    height: 19px;
    padding-top: 96px;

}

.news__item-conteiner {
    display: flex;
    justify-content: space-between;
}


.news__item-text_other p {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.news__item_subject-link {
    width: 139px;
    height: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    text-decoration-line: underline;
    /* black */
    color: #343434;
}

.news__item-date_other {
    height: 27px;
    text-align: center;
    display: flex;
    align-items:center;
    padding-top: 0;
    position: ;
}

/*--------------------------------------------------------------------------- footer style----------------------------------------------------------------- */
.footer {
    height: 255px;
    margin-bottom: 0px;
    background: #005BC1;
}

.footer__content {
    width: 1110px;
    height: 194px;
    margin: auto;
    color: #FFFFFF;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-top: 36px;
}

.footer__contact-tel {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.footer__contact_tel-link {
    width: 122px;
    height: 27px;
}

.footer__contact-address,
.footer__contact-mail {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    width: 551px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;

}

.footer__list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.footer__list-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
}

.footer__copyright-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}